<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <div id="tickets">
        <h1>Ticket List</h1>
        <div id="controls">
            <button class="btn" onclick="cngPage(-1)">Previous</button>
            <p id="page">1</p>
            <button class="btn" onclick="cngPage(1)">Next</button>
        </div>
        <p id="count"></p>
        <div id="ticketList">
        </div>
    </div>

    <script src="/scripts/index.js"></script>
</body>

</html>