<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <div id="tickets">
        <h1>Ticket</h1>
        <div class="ticket">
            <h2 id="no"></h2>
            <h2 id="date"></h2>
            <h2 id="status"></h2>
            <h2 id="subject"></h2>
            <div id="desc"></div>
        </div>
        <button class="btn" onclick="window.history.back()">Back</button>
    </div>
    <script src="/scripts/ticket.js"></script>
</body>

</html>