@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#tickets {
  background-color: beige;
  border-radius: 30px;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#ticketList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
}

#controls div,
p,
button {
  margin: 20px;
}

.ticket {
  background-color: #3fe0d0;
  border-radius: 30px;
  /* height: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 5vw;
  min-width: 30vw;
}

.ticket div,
h2,
h3 {
  padding: 20px;
}

.clickable {
  border: 2px solid black;
  cursor: pointer;
  transition: 200ms;
  margin: 10px;
}

.clickable:hover {
  /* border: 2px solid red; */
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.btn {
  border: 1px solid #1a73e8;
  background: transparent;
  color: #1a73e8;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 36px;
  min-width: 10vw;
  line-height: 34px;
  border-radius: 4px;
  padding: 0 24px;
  transition: 200ms;
}

.btn:hover {
  background: rgba(26, 115, 232, 0.04);
}
